$primary: aliceblue;

:root{
  font-size: 20px;
  box-sizing: border-box;
}

header {
  line-height: 3;
  text-align: center;
}

#new-button{
  position: fixed;
  right: 3%;
  bottom: 3%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $primary;
  cursor: pointer;
}

main{
  display: flex;
  justify-content: center;
}

#notes-list{
  width: 80%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.buttons{
  float:right;
  *{
    cursor: pointer;
  }
}

.note{
  /**LAYOUT**/
  aspect-ratio: 1/1;
  padding: 1rem;
  overflow-wrap: break-word;
  .header-bar{
    font-size: 1.75rem;
    height: 10%;
  }

  .content{
    height: 80%;
    width: 100%;
    border: unset;
    background-color: unset;
    outline: unset;
    resize: none;
    font-size: 1rem;
  }

  .title-input{
    border: unset;
    background-color: unset;
    outline: unset;
    font-size: unset;
    width: 70%;
  }

  /**THEMING**/
  background-color: $primary;
  cursor: default;
  
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  &:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 6px rgb(0 0 0 / 30%);
  }
}